<ion-content class="background-login">
  <ion-row>
    <ion-col class="ion-text-center">
      <img src="/assets/logo-remo.png" alt="" />
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item class="login" lines="none">
      <ion-label position="stacked">
        <i-feather class="icon" name="user"></i-feather> Usuario:
      </ion-label>
      <input type="text" name="username" class="input-form">
    </ion-item>
    <ion-item class="login" lines="none">
      <ion-label position="stacked">
        <i-feather class="icon" name="key"></i-feather> Contraseña:
      </ion-label>
      <input type="password" name="username" class="input-form">
    </ion-item>
  </ion-list>
  <div class="ion-padding ion-text-center">
    <ion-button color="gray" class="button button-login"  [routerLink]="['/home']">INGRESAR</ion-button>
  </div>
</ion-content>
