<ion-content class="ion-padding-top background-login">
  <ion-row>
    <ion-col class="ion-text-center">
      <img src="/assets/logo-remo.png" alt="" />
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item>
      <ion-label position="floating">
        <i-feather class="icon" name="user"></i-feather> Usuario:
      </ion-label>
      <ion-input name="username" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <i-feather class="icon" name="key"></i-feather> Password:
      </ion-label>
      <ion-input name="password" type="password"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding ion-text-center">
    <ion-button color="gray" class="button button-login"  [routerLink]="['/home']">INGRESAR</ion-button>
  </div>
</ion-content>
