<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="bowtie"></ion-icon>
      <ion-label>Entradas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="bonfire"></ion-icon>
      <ion-label>Platos fuertes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
        <ion-icon name="wine"></ion-icon>
        <ion-label>Bebidas</ion-label>
      </ion-tab-button> 

    <ion-tab-button tab="tab4">
      <ion-icon name="ice-cream"></ion-icon>
      <ion-label>Postres</ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>

</ion-tabs>
