.background-login{
    --ion-background-color: #BB0000;
}
.button.button-login{
    font-size: 25px;
    font-weight: 300;
    height: 65px;
    background-color: #FFFFFF;
    color: #BEBEBE;
    border-radius: 12px;
    padding: 2px 7px;
}

i-feather{
    &.icon{
        width: 18px;
        height: auto;
        color: #7f8892;
    }
}

.button.button-table{
    --border-radius: 40px;
    font-size: 25px;
    font-weight: 200;
    height: 130px;
    text-transform: none;
}
