i-feather{
    &.icon{
        width: 18px;
        height: auto;
        color: #7f8892;
    }
}

.button.button-table{
    --border-radius: 40px;
    font-size: 25px;
    font-weight: 200;
    height: 130px;
    text-transform: none;
}