<!--ion-header>
  <ion-toolbar>
    <ion-title>Mesas</ion-title>
  </ion-toolbar>
</ion-header-->
<ion-row>
  <ion-col class="ion-text-center">
    <img src="/assets/logo-remo-small.png" alt="" />
  </ion-col>
</ion-row>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button
          color="danger"
          class="button button-table"
          expand="block"
          [routerLink]="['/app/tabs/tab2']"
        >
          Mesa 1
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          color="danger"
          class="button button-table"
          expand="block"
          [routerLink]="['/app/tabs/tab1']"
        >
          Mesa 2</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          color="danger"
          class="button button-table"
          expand="block"
          [routerLink]="['/app/tabs/tab1']"
        >
          Mesa 3
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          color="danger"
          class="button button-table"
          expand="block"
          [routerLink]="['/app/tabs/tab1']"
        >
          Mesa 4</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          color="danger"
          class="button button-table"
          expand="block"
          [routerLink]="['/app/tabs/tab1']"
        >
          Mesa 5
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          color="danger"
          class="button button-table"
          expand="block"
          [routerLink]="['/app/tabs/tab1']"
        >
          Mesa 6</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          color="danger"
          class="button button-table"
          expand="block"
          [routerLink]="['/app/tabs/tab1']"
        >
          Mesa 7
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          color="danger"
          class="button button-table"
          expand="block"
          [routerLink]="['/app/tabs/tab1']"
        >
          Mesa 8</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-button
            color="danger"
            class="button button-table"
            expand="block"
            [routerLink]="['/app/tabs/tab1']"
          >
            Mesa 9
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            color="danger"
            class="button button-table"
            expand="block"
            [routerLink]="['/app/tabs/tab1']"
          >
            Mesa 10</ion-button
          >
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
